TPT_BASE_URL=https://3tp.tapasyatech.in
TPT_USERNAME=your-3tp-username
TPT_PASSWORD=your-3tp-password
TPT_SYNC_ENABLED=true
TPT_TIMEOUT=10
TPT_ADMIN_AUTHORITY=TENANT_ADMIN
TPT_OPERATOR_AUTHORITY=CUSTOMER_USER
TPT_SITE_ASSET_TYPE=SITE
TPT_DEVICE_TYPE=AC
